:root {
  --main: #1c3144;
}

.navbar > a {
  justify-self: start;
  color: var(--main);
}

.navbar > a > img {
  height: 5vh;
  margin-left: 4vw;
  cursor: pointer;
  transition: 0.4s;
}

.navbar > a > img:hover {
  height: 6vh;
  margin-left: 3vw;
}

.navbar > button {
  background: none;
  color: var(--main);
  border: none;
  border-radius: 25px;
  font-size: 1em;
  font-weight: bold;
  padding: 1vh 1vw;
  cursor: pointer;
  transition: 0.4s;
}

.navbar > button:hover {
  font-size: 1.2em;
}

.navbar-menu {
  cursor: pointer;
  transition: 0.4s;
  color: var(--main);
}

.navbar-menu:hover {
  font-size: 1.2em;
}

@media screen and (max-width: 768px) {
  .navbar > a {
    align-self: center;
  }

  .navbar > a > img {
    height: 5vh;
    margin-left: 2vw;
  }

  .navbar-menu:hover {
    font-size: 1em;
  }

  .navbar > a > img:hover {
    height: 5vh;
    margin-left: 2vw;
  }

  .navbar > button:hover {
    color: white;
    background-color: var(--main);
    font-size: 1em;
  }
}

@media screen and (max-width: 700px) {
  .navbar > a {
    justify-self: center;
  }

  .navbar-menu {
    display: none;
  }

  .navbar > button {
    display: none;
  }
}
